.Dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.HeroRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: transparent;
    column-gap: 10px;
}